@if (Companies.Any()) 
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    Company
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var company in Companies)
            {
                <tr>
                    <td>@company.Id</td>
                    <td>
                        <a href="/companies/@company.Id">
                            @company.Name
                        </a>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <a href="/companies/@company.Id/update/" class="btn btn-info mr-1">Update</a>
                        <a href="/companies/@company.Id/logo/" class="btn btn-success mr-1">logo</a>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <span>
        Loading companies...
    </span>
}