@page "/jsinterop2"

<h3>JSInterop2</h3>

<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-info" onclick="jsFunctions.calculateSquareRoot()">Calculate</button>
    </div>
    <div class="col-6">
        <div class="text-danger" id="string-result"></div>
    </div>
</div>
