<div class="form-group"> 
    <input type="text" class="form-control" name="searchTerm"
           @onkeyup="SearchChanged"
           @bind-value="SearchTerm"
           @bind-value:event="oninput"/>
</div>