<div class="form-group">
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="name asc">Name ascending</option>
        <option value="name desc">Name descending</option>
    </select>
</div>